.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:white;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  justify-content: flex-start;
}

.App-nav a {
  display: block;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  margin-top:20px;
}

.App-intro,p{
  font-size: large;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  align-items:center;
}

.App-footer {
  font-size: small;
  margin: 20px;
}
